HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### FOX ###
!**/*.zip
!**/*.exe
!**/*.tmp
!**/*.7z
!**/corre.fox
!**/corre.viw
!**/foxd*.*
!**/foxpro.int
!**/*.pdf
!**/*.rar
!**/*.bak
!**/0*.dbf
!**/1*.dbf
!**/2*.dbf
!**/3*.dbf
!**/4*.dbf
!**/5*.dbf
!**/6*.dbf
!**/7*.dbf
!**/8*.dbf
!**/9*.dbf
!**/0*.idx
!**/1*.idx
!**/2*.idx
!**/3*.idx
!**/4*.idx
!**/5*.idx
!**/6*.idx
!**/7*.idx
!**/8*.idx
!**/9*.idx

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

BackupsFuentes/
DAOT/
Sistemas.rar
banco/
mig_nvo_sis.BAK
otros/
personal_sist/
sbpcat/
CORE.*
sbpiura/*.7z
sbpiura/sicg3_ant1/
sbpiura/ventas/datapr/
sbpiura/ventas/fuentes_1/
sbpiura/ventas/fuentes/FOX*.*
sbpiura/ventas/fuentes/ANONIMO.*